Flask_SQLAlchemy==2.3.2
Flask==1.0.2
SQLAlchemy==1.2.12
aliyun_python_sdk_core_v3==2.9.4
aliyun_python_sdk_dysmsapi==1.0.0
pymysql==0.9.2
flask-restful==0.3.7
flask_httpauth==3.2.4
flask_migrate==2.3.1
click==6.7
unittest
coverage==4.5.1
pickle
DateTime==4.3
